@{
    ViewData["Title"] = "Dv calcados";
}
<body style="background-color: #00BFFF">
    <div class="text-center">
        <font size="10" class="display-4"><b>BEM-VINDO</b></font>
        <br> <br>
        <h4>Esse e um sistema de cadastro de calçados da empresa Dv calçados</h4>
        <p class="nav-item">
            <a class="btn btn-primary" text-dark" asp-area="" asp-controller="Calcados" asp-action="Create">Criar</a>
        </p>
        <br>
        <p class="nav-item">
            <a class="btn btn-primary" asp-area="" asp-controller="Calcados" asp-action="Index">Listar Calçados</a>
        </p>

    </div>
</body>

